absl-py==2.1.0
beautifulsoup4==4.12.3
cachetools==5.4.0
fsspec==2024.6.1
gdown==5.2.0
google-auth==2.33.0
google-auth-oauthlib==0.4.6
grpcio==1.65.4
huggingface-hub==0.24.5
importlib-metadata==8.2.0
Markdown==3.6
mkl-service==2.4.0
oauthlib==3.2.2
packaging==24.1
protobuf==3.19.6
pyasn1==0.6.0
pyasn1-modules==0.4.0
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.4.4
soupsieve==2.6
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
timm==0.9.12
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.5
triton==2.2.0
werkzeug==3.0.3
zipp==3.20.0
scipy==1.14.0
torch_fidelity==0.3.0
opencv-python==4.10.0.84